@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
}
:root {
    --main-color: #18BA89;
}
body {
    padding: 0;
    margin: 0;
    font-family: "Cairo";
    background-color: #eee;
}

h1 {
    text-align: center;
    padding: 20px;
    margin: 0 0 50px;
}

.main-box {

    text-align: center;
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .game-area {
        .inputs {
            > div {
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                span {
                    font-size: 30px;
                    margin-right: 15px;
                    font-weight: bold;
                }
            }
            .disabled-inputs {
                opacity: .5;
                pointer-events: none;
            }
            input {
                margin: 0 5px;
                width: 60px;
                height: 60px;
                text-align: center;
                font-size: 40px;
                caret-color: var(--main-color);
                background-color: white;
                border: none;
                border-bottom: 3px solid #333;
                outline-color: #ccc;
                border-radius: 6px;
            }
            .in-place {
                background-color: #18ba89;
                border: #18ba89;
                color: white;
            }
            .not-in-place {
                background-color: #f89e13;
                border: #f89e13;
                color: white;
            }
            .wrong {
                background-color: #27303f;
                border: #27303f;
                color: white;
            }
        }
        .ctrls {
            display: flex;
            justify-content: space-between;
            align-items: center;  
            button {
                height: 50px;
                border-radius: 6px;
                font-size: 20px;
                font-weight: bold;
                border: none;
                transition: .3s;
                color: white;
                &.check {
                    background-color: #27303F;
                    flex-grow: 1;
                    margin-right: 20px;
                }
                &.hint {
                    background-color: var(--main-color);
                    width: 100px;
                }
            }
            button:hover {
                cursor: pointer;
                opacity: 0.8;
            }          
            button:active {
                transform: scale(0.95);
            }
            button:disabled {
                opacity: 0.5;
                cursor: no-drop;
            }
        }
        .message span {
            margin: 30px 0 20;
            font-size: 25px;
            font-weight: bold;
            color: #333;
            &.success {
                color: #18ba89;
            }
            &.error {
                color: #f83513;
            }
        }

        .popup {
            width: 500px;
            background-color: #fff;
            border-radius: 10px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0.1);
            text-align: center;
            padding: 0 30px 30px;
            color: #333;
            visibility: hidden;
            transition: transform .3s, top .3s;
            z-index: 100;
        }
        .open-popup {
            visibility: visible;
            top: 50%;
            transform: translate(-50%, -50%) scale(1);
        }
        .popup img {
            width: 100px;
            margin-top: -50px;
            border-radius: 50px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            
        }
        .popup h2 {
            font-size: 38px;
            font-weight: 500;
            margin: 30px 0 10px;
        }
        .popup button {
            width: 100%;
            margin-top: 10px 0;
            background-color: #00BA00;
            border: 0;
            outline: none;
            border-radius: 6px;
            color: white;
            padding: 10px 0;
            cursor: pointer;
            font-size: 18px;
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
            transition: .3s;
            
        }
        .popup button:hover {
            opacity: .8;
        }
        .popup button:active {
            transform: scale(0.95);
        }   
        .popup-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(5px);
            z-index: 99;
            visibility: hidden;
            opacity: 0;
            transition: visibility .3s, opacity .3s;
        }
        .open-popup + .popup-overlay {
            visibility: visible;
            opacity: 1;
        }
    }
    .key-colors {
        .key-color {
            display: flex;
            align-items: center;
            padding: 15px;
            background-color: white;
            margin-bottom: 10px;

            .key {
                width:30px;
                height: 30px;
                margin-right: 10px;
            }
            .in-place {
                background-color: #18ba89;
            }
            .not-in-place {
                background-color: #f89e13;
            }
            .wrong {
                background-color: #27303f;
            }
            .key-text {
                font-weight: bold;
                font-size: 20px;
            }
        }
    }
}
@media screen and (max-width: 955px) {
    body {
        display: none;
    }
}


.footer {
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #27303f;
    color: white;
    font-size: 20px;
}
